/* font-family: 'EB Garamond', serif; */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

/* font-family: 'Cormorant Garamond', serif; */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    box-sizing: border-box;
    transition: all .2s ease;
}

body {
    background-color: #eae0cf;
    background-color: #63728f;
    background-color: #6f7e92;

    background-color: #84909f; /*favorite*/
    background-color: #7e8b9a;
    background-color: #79899c;
    background-image: url(images/swanpond.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    /* background-size: contain;
    background-position: center; */
    line-height: 1.35;
    color: #51617d;
    color: #202834;
    color: #1e242f;
    color: #25282e;
    color: #202225;
    /* color: #191b1e; */
    margin: 0;
    padding: 3rem;
    
    font-size: 18px;
    line-height: 1.5;
    
    /* font-family: 'Cormorant Garamond', serif; */
    font-family: 'EB Garamond', serif;
    font-size: 20px;

    font-size: 21px;
    line-height: 1.6;
}

h1 {
    font-size: 68px;
    font-size: 90px;
    font-size: 84px;
    font-size: 80px;
    font-size: 76px;
    font-style: italic;
    margin-top: 0;
    /* margin-bottom: 2rem; */
    margin-bottom: 0;
    color: #767f8f;
    color: #485875;
    color: #51617d;
    
    color: #51647d;
    color: #566b85;
    /* color: #647a96; */

    /* color: #48566e; */
    /* color: #434f64; */
    text-align: right;
    text-align: center;
    line-height: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    align-items: flex-start;

    padding-left: 1.5rem;
}

h1 a {
    color: #566b85;
    color: #566785;
    /* color: #45668d; */
}

h1 a:hover {
    text-decoration: none;
    color: #5a7891;
    color: #617894;
}

.trademark {
    font-size: 30%;
    padding-top: 16px;
    padding-left: 4px;
    opacity: .8;
    font-weight: 500;
}

.subpage h1 {
    font-size: 56px;
    /* font-size: 60px; */
    font-size: 52px;
}

.subpage .subtitle {
    font-size: 32px;
    /* font-size: 36px; */
    font-size: 28px;
    margin-top: 0.25rem;
}

.subtitle {
    text-align: right;
    text-align: center;
    margin-top: 0;
    font-size: 50px;
    font-size: 44px;
    font-size: 38px;
    font-size: 32px;
    font-size: 34px;
    /* font-style: italic; */
    margin-bottom: 2rem;
    margin-top: 1rem;
    margin-top: .5rem;
    margin-top: 0.125rem;
    color: #404959;
}

.subtitle a {
    color: #404959;
}

h2 {
    font-size: 24px;
    font-size: 28px;
    font-size: 30px;
    margin-bottom: 1rem;
    margin-top: 2rem;

    /* font-size: 26px; */
    margin-bottom: -0.5rem;
    margin-top: 2.5rem;
    
    color: #404c62;
    /* text-transform: capitalize; */
    /* color: #444c5d; */

    color: #304263;
    color: #304863;
    color: #384e68;
    color: #47596f;
    color: #202225;
    /* color: rgb(32 34 37 / 85%); */
}

h2 a {
    color: #202225;
}

h2.topic-title {
    font-size: 32px;
    font-size: 36px;
    font-size: 37px;
    /* font-size: 34px; */
    /* font-size: 38px; */

    /* font-size: 28px; */
    /* font-style: italic; */
    color: #5a5e66;
    color: #233953;
    color: #3b4f67;
    color: #202225;
    /* color: #696c70; */
    /* margin-bottom: -1rem; */
    margin-bottom: -0.5rem;
    margin-bottom: 1.5rem;
    margin-top: 3rem;
    margin-top: 2.5rem;
    margin-top: 2.75rem;
    /* margin-top: 3.5rem; */
    line-height: 1.35;

    display: flex;
    align-items: center;
    justify-content: center;
}

.topic-title-icon {
    font-size: 40%;
    /* color: #476c9a;
    color: #5d93ac;
    color: #577ead;
    color: #628bbc;
    color: #457ab8;
    color: #4584b8;
    color: #458cb8; */
    color: #373b40;
    margin-left: 10px;
    margin-bottom: -8px;
}
.topic-nav-link-icon {
    font-size: 56%;
    font-size: 55%;
    color: #476c9a;
    color: #5d93ac;
    color: #577ead;
    color: #628bbc;
    color: #457ab8;
    color: #4584b8;
    color: #458cb8;
    color: #799dac;
    color: #373b40;
    /* color: #6199ab; */
    /* margin-left: 2px; */
    margin-right: 4px;
    margin-right: 8px;
    margin-bottom: 0px;
}

.topic-title-link {
    color: #3b4f67;
}

.page-navigation-title {
    margin-bottom: 1rem;
    margin-top: 0;
}
.page-navigation hr:first-child {
    margin: 2.5rem 0 1.5rem;
}

.page-navigation hr:last-child {
    margin: 2.5rem 0 1rem;
}

h3 {
    /* color: #202225;
    color: #434549;
    color: #424447; */
    font-size: 18px;
    /* font-style: italic; */

    
    /* font-size: 19px; */
    margin-top: 1.625rem;
    
    font-size: 26px;
    font-size: 22px;
    margin-bottom: -0.25rem;
    margin-top: 2.5rem;
    margin-top: 1.5rem;
    margin: 1em 0;
    margin: 0.75em 0;
    font-weight: 600;

    color: #5a5e66;
    color: #55697b;
    color: #202225;
    color: rgb(32 34 37 / 85%);
}

h3 a {
    color: #202225;
}

h4 {
    font-size: 18px;
    /* font-style: italic; */
    color: #5a5e66;
    color: #818a90;
    color: #5a6d7c;
    color: #63727e;
    /* font-size: 19px; */
    margin-top: 1.625rem;
    font-size: 22px;
    margin-bottom: -0.375rem;
    margin-top: 2rem;
    font-weight: 600;
}

p {
    margin: 0.75em 0;
}

a {
    color: #2a5c96;
    color: #1d4f89;
    color: #1f5180;
    color: #194772;
    color: #004f87;

    color: #1a5799;
    
    color: #3c6288;
    color: #37597b;

    /* color: #396b9c;
    color: #39719c; */
    /* color: #3173a6; */
    /* color: #316a96; */

    /* color: #0f5496; */
    color: #436d96;
    color: #436f96;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #0e3d72;
    color: #09355f;
    color: #194772;

    color: #0d3e73;

    color: #315578;
    color: #294d71;
    color: #3c6288;

    color: #34577a;
    color: #2c4f72;
    color: #1f4368;
    color: #193c60;
    color: #32506c;
    /* color: #264666; */

    /* color: #305273; */

    /* background-color: #ffffb6;
    background-color: #ffffd0;
    background-color: rgba(255, 255, 208, 0.8);
    border-radius: 4px; */
}

img {
    /* opacity: .85; */
    border-radius: 6px;
    max-width: 100%;
    width: fit-content;
}

img:hover {
    opacity: 1;
}

b {
    font-size: 95%;
}

.container {
    border-radius: 32px;
    border-radius: 24px;
    max-width: 960px;
    max-width: 820px;
    max-width: 780px;

    max-width: 860px;
    max-width: 820px;
    /* max-width: 800px; */
    /* max-width: 960px; */
    /* max-width: 680px; */
    margin: auto;
    background-color: antiquewhite;
    background-color: #e5dbca;
    background-color: rgba(229, 219, 202, 0.5);
    background-color: rgba(219, 208, 191, 0.5);
    background-color: rgb(202 193 180 / 60%);
    background-color: rgba(207, 199, 189, 0.7);
    background-color: rgba(216, 209, 200, 0.8);

    /* background-color: rgb(204 194 178 / 50%); */
    /* background-color: rgba(229, 223, 212, 0.5); */
    backdrop-filter: blur(.5px);
    /* backdrop-filter: blur(1px); */

    padding: 2.25rem 2.5rem;
    padding: 2.25rem 3rem;
    padding: 2.5rem 4rem;
    padding: 3rem 4rem;
    box-shadow: 10px 10px 120px rgb(0 0 0 / 75%);
    box-shadow: 10px 10px 120px #595f67;
    box-shadow: 10px 10px 120px #4b525a;
    box-shadow: 10px 10px 120px rgba(75, 82, 90, 0.8), inset 10px 10px 120px #aba194;
    /* box-shadow: 10px 10px 160px rgba(75, 82, 90, 0.7), inset 10px 10px 120px #aba194; */

    /* box-shadow: 10px 10px 120px #3b4249; */

    /* border: 1px solid #aea69c;
    border: 1px solid rgb(162 155 147 / 80%); */

    background-color: rgba(231, 225, 217, .85);
    background-color: rgba(231, 225, 217, .85);
    background-color: rgba(240, 236, 230, 0.9);

}

p:last-child {
    margin-bottom: 0;
}


.title-image {
    text-align: center;
    margin-top: 2.25rem;
    /* margin-bottom: 2rem; */
}

.royalswan {
    width: 360px;
    width: 420px;
    width: 240px;
    width: 160px;
    width: 360px;
    border-radius: 8px;
    margin-bottom: 0;
    opacity: 1;
}

.image-credit {
    font-size: 13px;
    /* opacity: .75; */
    font-style: italic;
    margin-top: 0;
    word-break: break-all;
    color: #25282e;
    margin-top: -4px;
}

.topic-nav-header-title {
    margin-bottom: 1.25rem;
    margin-top: 1.5rem;
    text-align: center;
    font-size: 28px;
    font-size: 30px;
    /* color: #334459; */
}

.topic-nav {
    background-color: #b4aca1;
    background-color: rgb(142 141 138 / 35%);
    background-color: rgb(167 159 149 / 55%);
    background-color: rgb(167 159 149 / 40%);
    background-color: rgb(167 159 149 / 35%);

    background-color: rgb(188 179 168 / 35%);
    padding: 6px 24px;
    border-radius: 12px;
    border-radius: 8px;
    border: 1px dotted rgb(125 137 154 / 65%);
    border: 1px dotted rgb(125 137 154 / 50%);
    margin-bottom: 1.5rem;
    /* box-shadow: inset 0px 0px 40px rgb(184 180 173 / 60%); */
}

.topic-nav-title {
    margin-bottom: -12px;
    margin-bottom: -15px;
    text-transform: capitalize;
    /* color: #404c62; */
    /* color: #405462; */
    /* color: #495865; */
    /* color: #495565; */
    font-style: italic;
    margin-top: 1rem;
    font-size: 24px;
    /* font-size: 22px; */
    /* font-size: 23px; */
}

.topic-nav a.active {
    text-decoration: underline;
    color: #000001;
}

.topic-nav li {
    margin: 2px 0;
    /* font-size: 95%; */
    /* font-size: 94%; */
    line-height: 1.45;

    margin: 1px 0;
    /* font-size: 90%; */
    /* line-height: 1.4;
    line-height: 1.25;
    line-height: 1.35; */
}

.topic-nav li a {
    display: flex;
    align-items: center;
}

.topic-nav-star {
    color: #527a97;
    color: #373b40;
    /* color: #396f95; */
    /* color: #5d8da1; */
    margin-left: 2px;
    margin-left: 8px;
    font-size: 85%;
    font-size: 84%;
    font-size: 80%;
    font-size: 76%;
}

.topic-nav li li {
    font-size: 100%;
}

.diagram-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
}

.diagram-desc {
    font-size: 16px;
    margin-top: 8px;
}

.diagram-box img {
    width: fit-content;
}

.info-source {
    line-height: 1.25;
    /* font-size: 18px; */
    margin-top: 1.5rem;
}

.info-source a {
    word-break: break-all;
}

.copyrights p {
    margin-bottom: 0;
    display: inline-block;
    font-size: 15px;
}

.blog-author {
    font-size: 15px;
    margin-top: 0;
}

code {
    background-color: #1c1e20;
    background-color: #2e3032;
    /* background-color: #3b3e40; */
    padding: 2px 5px;

    color: #98cc96;
    color: #67ca92;
    color: #7ddca6;
    color: #aed0ed;
    color: #b8d5ed;
    color: #d2eafe;
    border-radius: 3px;
    padding: 0 5px 2px;
    padding: 2px 5px;
    padding: 1px 4px 2px;
    /* padding: 3px 5px; */
    font-size: 75%;
    font-size: 72%;
    /* margin: 0 1px; */
    letter-spacing: .25px;
}

table {
    background-color: #c1b9af;
    background-color: rgb(171 164 154 / 77%);
    background-color: rgb(171 164 154 / 65%);
    background-color: rgb(171 164 154 / 55%);

    background-color: rgb(188 179 168 / 35%);
    background-color: rgb(188 179 168 / 45%);
    border: 1px dotted rgb(125 137 154 / 50%);
    border-radius: 4px;
}

table table {
    background-color: transparent;
}

table table td {
    padding: 0;
}

td, th {
    padding: .75rem 1.25rem;
    padding: .625rem 1rem;
    font-size: 95%;
    line-height: 1.3;
}

iframe {
    border-radius: 4px;
    width: 80%;
    margin: 0.5em 0 0;
}

.source-site {
    opacity: .65;
    /* font-style: italic; */
    margin-left: 4px;
    margin-left: 8px;
    color: #606f7e;
    font-size: 90%;
    font-size: 88%;
    font-size: 86%;
    color: #6d757c;
    opacity: .75;
    /* display: none; */
}



.dns-cartoon img {
    width: 88%;
    margin: .25rem auto;
    height: auto;
    padding: 1rem;
    background-color: white;
}

.header-hr {
    width: 40%;
    margin: auto;
    height: 0;
    border: none;
    border-top: 1px dotted #76797e;
}

.learn-how-the-web-works-projects {
    width: 60%;
}

.learn-how-the-web-works-projects li {
    margin-bottom: .5rem;
}

.learn-how-the-web-works-projects img {
    margin-top: .5rem;
}